@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-hamburguer {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav ul {
        flex-direction: row;
    }

    main {
        grid-template-columns: minmax(280px, 1fr) 2fr;
        align-items: start;
    }

    section#apresentacao {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    section#habilidades,
    section#formacao,
    section#projetos {
        grid-column: 2;
    }
}