@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-hamburguer {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav ul {
        flex-direction: row;
    }

    main {
        display: grid;
        grid-template-columns: auto 1fr 2fr auto;
        gap: 20px;
        align-items: start;
    }

    section#apresentacao {
    grid-column: 2;
    grid-row: 1 / 4;
    }

    section#habilidades,
    section#formacao,
    section#projetos {
        grid-column: 3;
    }

    #habilidade-container {
        grid-template-columns: 1fr 1fr;
    }
}