@media screen and (max-width: 768px) {

    .menu-hamburguer {
        display: block;
        background: none;
        border: none;
        color: var(--branco);
        font-size: 1.8rem;
        margin: 1rem;
        cursor: pointer;
    }

     header{
        flex-direction: column;
    }

    .menu-hamburguer{
        align-self: flex-start;
    }

    #nav{
        display: none;
    }

    #nav.active{
        display: block;
    }

    #nav ul{
        flex-direction: row;
    }

    .link{
        display: block;
    }

    #habilidade-container {
        grid-template-columns: 1fr;
    }

}