@media screen and (max-width: 768px) {

    .menu-hamburguer {
        display: block;
        background: none;
        border: none;
        color: var(--branco);
        font-size: 1.8rem;
        margin: 1rem;
        cursor: pointer;
    }

     header{
        flex-flow: column;
    }

    .menu-hamburguer{
        align-self: flex-start;
    }

    #nav{
        display: none;
        transition: 0.3s ease-in-out;
    }

    #nav.active{
        display: block;
    }

    #nav ul{
        flex-direction: row;
        align-items: flex-end;
    }

    .link{
        display: block;
    }

}