*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --preto: #000;
    --branco: #fff;
    --dark-blue: #0066ff;
    --light-blue: #4680ff;
    --fonte-principal: 'Arial', sans-serif;
}

html, body{
    font-family: var(--fonte-principal);
    scroll-behavior: smooth;
    background-color: var(--branco);
}

