* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-body: #e7e5e5;
    --texto: #000;
    --texto-inverso: #fff;
    --destaque: #005de9;
    --destaque-inverso: #6c95ee;
    --fundo-card: #fff;
    --fonte-principal: Arial, sans-serif;
}

body.escuro {
    --fundo-body: #222222;
    --texto: #e0e0e0;
    --texto-inverso: #333333;
    --destaque: #ff5522;
    --destaque-inverso: #a73917;
    --fundo-card: #444444;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--fundo-body);
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    background-color: var(--destaque);
}

#nav {
    display: none;
}

#nav.active {
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

.menu-hamburguer {
    display: block;
    background: none;
    border: none;
    color: var(--texto-inverso);
    font-size: 1.8rem;
    margin: 1rem;
    cursor: pointer;
    align-self: flex-start;
}

.link {
    display: inline-block;
    padding: 1.6rem 1rem 0.8rem 1rem;
    color: var(--texto-inverso);
    text-decoration: none;
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
}

.link:hover {
    transform: scale(1.3);
    color: var(--texto);
    text-shadow: 1px 1px 2px var(--texto-inverso);
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr auto;
    margin-top: 1rem;
}

main h1 {
    color: var(--destaque);
    font-size: 2rem;
    margin-left: 2rem;
}

main p {
    color: var(--texto);
    font-size: 1.2rem;
    margin-left: 1rem;
}

section#apresentacao {
    grid-column: 2;
    align-items: center;
    background-color: var(--fundo-card);
    border-radius: 10px;
}

div.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

div.perfil img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--destaque);
    padding: 4px;
}

div.redes-sociais ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

div.redes-sociais li i {
    color: var(--destaque);
}

section#habilidades {
    grid-column: 2;
    background-color: var(--fundo-card);
    border-radius: 10px;
    padding: 1rem;
}

#habilidade-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#habilidade-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#habilidade-container .nome {
    font-weight: bold;
    color: var(--texto);
}

#habilidade-container .porcentagem {
    font-weight: bold;
    color: var(--destaque-inverso);
}

#habilidade-container .barra {
    width: 100%;
    height: 10px;
    background-color: var(--fundo-body);
    border-radius: 4px;
}

#habilidade-container .progresso {
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 4px;
}

section#formacao {
    grid-column: 2;
    background-color: var(--fundo-card);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

div.formacao-container {
    background-color: var(--fundo-body);
    margin: 1rem;
    border-radius: 1rem;
    border-left: 0.5rem solid var(--destaque-inverso);
    padding: 1rem;
    transition: ease-in-out 0.4s;
}

div.formacao-container:hover {
    border-left: 1rem solid var(--destaque);
    cursor: pointer;
}

div.formacao-container h2 {
    color: var(--destaque-inverso);
}

div.formacao-container p,
div.formacao-container h3 {
    font-weight: 700;
}

section#projetos {
    grid-column: 2;
    background-color: var(--fundo-card);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

div.projetos-container {
    background-color: var(--fundo-body);
    margin: 1rem;
    border-radius: 1rem;
    border-left: 0.5rem solid var(--destaque-inverso);
    padding: 1rem;
    transition: ease-in-out 0.4s;
}

div.projetos-container:hover {
    border-left: 1rem solid var(--destaque);
    cursor: pointer;
}

div.projetos-container h2 {
    color: var(--destaque-inverso);
    margin-left: 1rem;
}

div.projetos-container summary {
    margin-left: 1rem;
}

div.projeto img {
    height: 80%;
    width: 100%;
    border-radius: 1rem;
}